<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="com.noback.group.dao.MemberMapper">

	<!-- 로그인 -->
	<select id="login" resultType="member">
	 select
	     employee_num, employee_password, employee_level
	 from
	     noback_member
	 where employee_num = #{employee_num}
	     and employee_password = #{employee_password}
	     	and employee_level = #{employee_level}
	</select>

</mapper>
