<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="com.noback.group.dao.MemberMapper">

	<!-- 로그인 -->
	<select id="getMemberVO" resultType="member" parameterType="string">
		select * from noback_member where 
			employee_num = #{employee_num} 		
	</select>
	
	<!-- 사원 정보 저장 -->
	<insert id="insertMember" parameterType="member">
		insert into noback_member(
			employee_num
			, employee_name
			, employee_ssn
			, employee_address
			, employee_dep
			, employee_pos
			, employee_email
			, employee_level
			, employee_phone
			, employee_picture
		)
		values (
			#{employee_num}
			, #{employee_name}
			, #{employee_ssn}
			, #{employee_address}
			, #{employee_dep}
			, #{employee_pos}
			, #{employee_email}
			, #{employee_level}
			, #{employee_phone}
			, #{employee_picture}
		)
	</insert>
	
	<!-- 모든 사원 정보 -->
	<select id="memberlist" parameterType="string" resultType="member">
		select * from noback_member 
		<if test="_parameter != null">
			where upper(employee_name) like '%' || upper(#{search}) || '%'
		</if>
		order by employee_name
	</select>
	
	<!-- 사원 삭제 -->
	<delete id="memberdelete" parameterType="string">
		delete from noback_member WHERE employee_num = #{employee_num}
	</delete>
	
	
	<!-- 사원 이름으로 검색 -->
	<select id="count" parameterType="string" resultType="int">
		select count(*) from noback_member 
			<if test="_parameter != null">
			where upper(employee_name) like '%' || upper(#{search}) || '%'
		</if>
	</select>
	
	<!-- 사원 num으로 받아서 수정 -->
	<select id="updatemember" parameterType="string" resultType="member">
		select * from noback_member where employee_num = #{employee_num}
	</select>
	
	<!-- 사원 수정 -->
	<update id="memberlistupdate" parameterType="member">
		update
			noback_member
		set
			employee_name = #{employee_name}
			, employee_address = #{employee_address}
			, employee_dep = #{employee_dep}
			, employee_pos = #{employee_pos}
			, employee_email = #{employee_email}
		<if test="employee_level != null">
			, employee_level = #{employee_level}
		</if>	
			, employee_phone = #{employee_phone}
		<if test="employee_picture  != null ">
			, employee_picture = #{employee_picture}
		</if>	
		where	
			employee_num = #{employee_num}
	
	</update>
	
	<!-- 알람 트리거 -->
	<insert id="addTrigger" parameterType="string">
		insert into noback_alarm 
		values(alarm_seq.nextval, #{employee_num}, 0, 0, 0);
	</insert>
	
	
	<!-- 알람생성 -->
	<select id="getAlarm" parameterType="string" resultType="alarm">
		select * from noback_alarm
		where employee_num = #{LoginId}
	</select>
	
	<!-- 일정 알람 -->
	<update id="updateScheduleAlarm" parameterType="alarm">
		update noback_alarm
		set schedule = #{schedule}
		<if test="employee_num != null">
			where employee_num = #{employee_num}
		</if>
	</update>
	
	<!-- 메시지 알람 -->
	<update id="updateMessengerAlarm" parameterType="alarm">
		update noback_alarm
		set messenger = #{messenger}
		where employee_num = #{employee_num}
	</update>
	
	<!-- 결제 알람 -->
	<update id="updateSignAlarm" parameterType="alarm">
		update noback_alarm
		set sign = #{sign}
		where employee_num = #{employee_num}
	</update>
</mapper>
