<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="com.noback.group.dao.MemberMapper">

	<!-- 로그인 -->
	<select id="getMemberVO" resultType="member" parameterType="string">
		select * from noback_member where 
			employee_num = #{employee_num} 		
	</select>
	
	<!-- 사원 정보 저장 -->
	<insert id="insertMember" parameterType="member">
		insert into noback_member(
			employee_num
			, employee_name
			, employee_ssn
			, employee_address
			, employee_dep
			, employee_pos
			, employee_email
			, employee_level
			, employee_phone
			, employee_picture
		)
		values (
			#{employee_num}
			, #{employee_name}
			, #{employee_ssn}
			, #{employee_address}
			, #{employee_dep}
			, #{employee_pos}
			, #{employee_email}
			, #{employee_level}
			, #{employee_phone}
			, #{employee_picture}
		)
	</insert>
	
	<!-- 모든 사원 정보 -->
	<select id="memberlist" resultType="member">
		select * from noback_member order by employee_name
	</select>
	
	<!-- 사원 이름으로 검색 -->
	<select id="getMemberVO1" parameterType="string" resultType="member">
		select * from noback_member where employee_name = #{employee_name}
	</select>
	
	<!-- 사원 수정 -->
	<update id="memberlistupdate" parameterType="member">
		update
			noback_member
		set
			employee_name = #{employee_name}
			, employee_ssn = #{employee_ssn}
			, employee_address = #{employee_address}
			, employee_dep = #{employee_dep}
			, employee_pos = #{employee_pos}
			, employee_email = #{employee_email}
			, employee_level = #{employee_level}
			, employee_phone = #{employee_phone}
			, employee_picture = #{employee_picture}	
		where	
			employee_num = #{employee_num}
			
	</update>
</mapper>
