<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="com.noback.group.vo.MemberVO" alias="member" />
		<typeAlias type="com.noback.group.vo.SignVO" alias="sign" />
		<typeAlias type="com.noback.group.vo.ScheduleVO" alias="schedule" />
		<typeAlias type="com.noback.group.vo.BoardVO" alias="board" />
		<typeAlias type="com.noback.group.vo.ReceiverVO" alias="receiver" />
	</typeAliases>
	
	<mappers>
		<mapper resource="memberMapper.xml" />
		<mapper resource="signMapper.xml" />
		<mapper resource="boardMapper.xml" />
        <mapper resource="ScheduleMapper.xml" />
	</mappers>
	
</configuration>
