<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 정보 처리 SQL -->
<mapper namespace="com.noback.group.dao.NoticeMapper">
	<select id="getTotal" parameterType="string" resultType="int">
		select count(*)
		from noback_notice
		<if test="_parameter != null">
			where
			upper(notice_title) like '%' || upper(#{search}) || '%'
		</if>
	</select>
	
	<select id="listNotice" parameterType="string" resultType="notice">
		select
			b.notice_num
			, b.notice_title
			, b.notice_content
			, to_char(b.notice_date, 'YY/MM/DD') as notice_date
			, m.employee_name as notice_writer_name
			, b.notice_originfile
			, b.notice_savedfile
		from 
			noback_notice b, noback_member m
		where b.notice_writer = m.employee_num
		<if test="_parameter != null">
			and upper(b.notice_title) like '%' || upper(#{search}) || '%'
		</if>
		order by 
			b.notice_num desc
	</select>
	
	<select id="notice" parameterType="string" resultType="notice">
		select
			b.notice_num
			, b.notice_title
			, b.notice_content
			, to_char(b.notice_date, 'YY/MM/DD HH24:MI:SS') as notice_date
			, b.notice_writer
			, m.employee_name as notice_writer_name
			, b.notice_originfile
			, b.notice_savedfile
		from 
			noback_notice b, noback_member m
		where b.notice_writer = m.employee_num and notice_num = #{notice_num}
	</select>
	
	<insert id="noticeWrite" parameterType="notice">
		insert into noback_notice
		values(notice_seq.nextval, #{notice_title}, #{notice_content}, #{notice_writer}, sysdate, #{notice_originfile}, #{notice_savedfile})
	</insert>
	
	<delete id="noticeDelete" parameterType="string">
		delete from noback_notice
		where notice_num = #{notice_num}
	</delete>
	
	<update id="noticeUpdate" parameterType="notice">
		update noback_notice
		set notice_title = #{notice_title}, notice_content = #{notice_content}, notice_originfile = #{notice_originfile}, notice_savedfile = #{notice_savedfile}
		where notice_num = #{notice_num}
	</update>
</mapper>





