<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="com.noback.group.dao.SignMapper">

<!-- 글 저장 -->
<insert id="insertSign" parameterType="sign">
	insert into 
		noback_sign
		(
		      sign_num
		    , sign_title
			, sign_content
			, sign_sender
			, sign_nsender
			, sign_receiver1
			, sign_nreceiver1
			<if test="sign_receiver2 != null and sign_nreceiver2 != null">
			, sign_receiver2
			, sign_nreceiver2
			</if>
			<if test="sign_receiver3 != null and sign_nreceiver3 != null">
			, sign_receiver3
			, sign_nreceiver3
			</if>
			<if test="sign_receiver4 != null and sign_nreceiver4 != null">
			, sign_receiver4
			, sign_nreceiver4
			</if>
			, sign_dep
			, sign_pos
	        <if test="sign_originfile != null and sign_savedfile != null">
			,sign_originfile
		    , sign_savedfile
		    </if>
		) 
	values 
		(
		      sign_seq.nextval
		    , #{sign_title}
			, #{sign_content}
			, #{sign_sender}
			, #{sign_nsender}
			, #{sign_receiver1}
			, #{sign_nreceiver1}
			<if test="sign_receiver2 != null and sign_nreceiver2 != null">
			, #{sign_receiver2}
			, #{sign_nreceiver2}
			</if>
			<if test="sign_receiver3 != null and sign_nreceiver3 != null">
			, #{sign_receiver3}
			, #{sign_nreceiver3}
			</if>
			<if test="sign_receiver4 != null and sign_nreceiver4 != null">
			, #{sign_receiver4}
			, #{sign_nreceiver4}
			</if>
			, #{sign_dep}
			, #{sign_pos}
			 <if test="sign_originfile != null and sign_savedfile != null">
			, #{sign_originfile}
			, #{sign_savedfile}
			 </if>
		)
</insert>
<!-- E004 -->
<select id="listSign" parameterType="string" resultType="sign">
	select
	     s.sign_num
		, to_char(s.sign_cdate, 'YYYY-MM-DD HH24:MI') as sign_cdate
		, s.sign_title
		, s.sign_nsender	
		, s.sign_ok1
	from 
		noback_sign s, noback_member m
	where 
	    s.sign_sender = m.employee_num	
	order by 
		s.sign_cdate desc
</select>

<!-- E004 -->
<select id="listSign2" parameterType="string" resultType="sign">
	select
	     s.sign_num
		,to_char(s.sign_cdate, 'YYYY-MM-DD HH24:MI') as sign_cdate
		, s.sign_title
		, s.sign_nsender
	from 
		noback_sign s, noback_member m
	where 
	    s.sign_receiver1 = m.employee_num
	order by 
		s.sign_cdate desc
</select>
		
<!-- 결제서류 읽기 -->
<select id="getSign" parameterType="int" resultType="sign">
	select 
		to_char(sign_cdate, 'YYYY-MM-DD') sign_cdate
		, sign_num
		, sign_title
		, sign_content
		, sign_nsender
		, sign_dep
		, sign_pos
		, sign_receiver1
		, sign_receiver2
		, sign_nreceiver1
		, sign_nreceiver2
		, sign_receiver3
		, sign_receiver4
		, sign_nreceiver3
		, sign_nreceiver4
		, sign_originfile
		, sign_savedfile
	from 
		noback_sign 
	where 
		sign_num = #{sign_num}
</select>

<!--내가 작성한 결제서류 확인 -->
<select id="getSignn" parameterType="int" resultType="sign">
	select 
		to_char(sign_cdate, 'YYYY-MM-DD') sign_cdate
		, sign_num
		, sign_title
		, sign_content
		, sign_nsender
		, sign_dep
		, sign_pos
		, sign_receiver1
		, sign_receiver2
		, sign_nreceiver1
		, sign_nreceiver2
		, sign_receiver3
		, sign_receiver4
		, sign_nreceiver3
		, sign_nreceiver4
		, sign_originfile
		, sign_savedfile
		, sign_ok1
		, sign_memo
	from 
		noback_sign 
	where 
		sign_num = #{sign_num}
</select>


<!-- 글개수 -->
<select id="getTotal" parameterType="string" resultType="int">
	select
		count(*)
	from 
		noback_sign
</select>

<!-- 회원 정보 검색 -->
<select id="getMember" parameterType="string" resultType="member">
	select
	employee_num
	,employee_name
	,employee_dep
	,employee_pos
	from noback_member
	where employee_name = #{employee_name}
</select>

<select id="member" parameterType="string" resultType="member">
		select
		      employee_num
			, employee_name
			, employee_dep
			, employee_pos
		from 
			noback_member
		where employee_num = #{employee_num}
</select>

<!-- 글 수정 -->
<update id="complete" parameterType="sign">
	update
		noback_sign
	set
	       sign_memo = #{sign_memo} 
	      <if test=" sign_ok1 != 1 and  sign_ok1 != -1">
	      ,sign_ok1 = #{sign_ok1}
	      </if>
	       <if test=" sign_ok2 != 1 and  sign_ok2 != -1">
	      ,sign_ok2 = #{sign_ok2}
	      </if>
	       <if test=" sign_ok3 != 1 and  sign_ok3 != -1">
	      ,sign_ok3 = #{sign_ok3}
	      </if>
	       <if test=" sign_ok4 != 1 and  sign_ok4 != -1">
	      ,sign_ok4 = #{sign_ok4}
	      </if>
	      where
		sign_num = #{sign_num}
</update>



</mapper>
