<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 회원정보 처리 SQL -->
<mapper namespace="com.noback.group.dao.SignMapper">

<!-- 글 저장 -->
<insert id="insertSign" parameterType="sign">
	insert into 
		noback_sign
		(
		      sign_num
		    , sign_title
			, sign_content
			, sign_sender
			, sign_receiver
	        <if test="sign_originfile != null and sign_savedfile != null">
			,sign_originfile
		    , sign_savedfile
		    </if>
		) 
	values 
		(
		      sign_seq.nextval
		    , #{sign_title}
			, #{sign_content}
			, #{sign_sender}
			, #{sign_receiver}
			 <if test="sign_originfile != null and sign_savedfile != null">
			, #{sign_originfile}
			, #{sign_savedfile}
			 </if>
		)
</insert>
<!-- E004 -->
<select id="listSign" parameterType="string" resultType="sign">
	select
		to_char(sign_cdate, 'YYYY-MM-DD') as sign_cdate
		, sign_title
		, sign_sender
	from 
		noback_sign
	order by 
		sign_num desc
</select>
		
<!-- 결제서류 읽기 -->
<select id="getSign" parameterType="int" resultType="sign">
	select 
		to_char(sign_cdate, 'YYYY-MM-DD') sign_cdate
		, sign_title
		, sign_content
		, sign_sender
		, sign_originfile
		, sign_savedfile
	from 
		noback_sign 
	where 
		sign_num = #{sign_num}
</select>


<!-- 글개수 -->
<select id="getTotal" parameterType="string" resultType="int">
	select
		count(*)
	from 
		noback_sign
</select>

<!-- 회원 정보 검색 -->
<select id="getMember" parameterType="string" resultType="member">
	select * from noback_member where employee_name = #{employee_name}
</select>

<select id="member" parameterType="string" resultType="member">
		select
			m.employee_name
			, m.employee_dep
			, m.employee_pos
		from 
			noback_sign s, noback_member m
		where s.sign_sender = m.employee_name
	</select>

</mapper>
